/* selettore universale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* primo paragrafo colorato */
/* allineamento testo destra */
.first-p {
    color: blue;
    text-align: right;
    font-size: 30px;
}

/* selettore classe con dimensione del font di 30px */
.item {
    font-size: 30px;
}

h1 {
    color: aqua;
    display: flex;
    justify-content: center;
}

.tourism {
    padding: 40px;
    border: 4px solid black;
    align-items: center;
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.travel {
    background-color: rgb(56, 36, 22);
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s all ease;
}

.vacation:hover {
    background: purple;
    color: rgb(133, 179, 48);
}

a {
    font-size: 1.3rem;
    text-decoration: none;
    color: skyblue;
}

a:hover {
    background: aliceblue;
    color: aqua;
}

.item-weather h2 {
    color: blue;
}

.item-weather {
    border: 3px solid blue;
    margin: 30px;
}

 /* pseudo elementi */
ul li:nth-child(5) {           
    color: blue;
}

h3 {
    color: red;
}
    /* colorname */
.item-attractions>p {
    color: red;
}

h4 {
    color: brown
}

 /* rgb */
.item-culture p {
    color: rgb(255, 7, 7);
}

h5 {
    color: green;
}

/* rgba */
h5+p {
    color: rgba(255, 0, 0, 0.788);
}

/* selettore ID */
#development {
    background-color: lightgray;
}

h6 {
    color: grey;
}

 /* HEX */
.item-predictions>p {
    color: #ff0000;
}

/* Assegnazione multipla */
h2,
h3,
h4,
h6 {
    background-color: khaki;
}
/* Assegnazione multipla end */

 /* Specifità */
#cathedral {
    color: mediumblue;
    font-size: 50px;
    /* il più forte vince */
}

.duomo {
    color: darkslateblue;
    font-size: 70px;
}

.note p {
    color: magenta;
    font-size: 90px;
}
/* Specifità end */

 /* Heredity */
.visit-me-too {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    font-weight: 200;
    border: 4px solid red;
    border-radius: 15px;
    padding: 5px;
    margin: 31px;
    color: olivedrab;
    text-align: center;
}
/* Heredity end */

ul {
    list-style-type: none;
}